absl-py==1.4.0
aiohttp==3.9.2
aiohttp-cors==0.7.0
aiorwlock==1.4.0
aiosignal==1.3.1
annotated-types==0.6.0
anyio==3.6.2
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.8
async-timeout==4.0.2
attrs==22.1.0
backcall==0.2.0
backports.functools-lru-cache==1.6.4
beautifulsoup4==4.11.1
biopython==1.79
bleach==5.0.1
blessed==1.20.0
bokeh==2.4.3
branca==0.6.0
brotlipy==0.7.0
cachetools==5.2.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.2.0
colorama==0.4.6
colorcet==3.0.1
colorful==0.5.6
comm==0.1.0
confluent-kafka==1.7.0
contourpy==1.0.6
cryptography==42.0.4
cubinlinker==0.2.0
cucim==22.10.0
cuda-python==11.7.1
cudf==22.10.1+2.gca9a422da9
cudf-kafka==22.10.1+2.gca9a422da9
cugraph==22.10.1+0.g9cf07eb6.dirty
cuml==22.10.1
cupy==11.3.0
cusignal==22.10.1
cuspatial==22.10.0
custreamz==22.10.1+2.gca9a422da9
cuxfilter==22.10.0
cycler==0.11.0
Cython==0.29.32
cytoolz==0.12.0
dask==2022.9.2
dask-cuda==22.10.0
dask-cudf==22.10.1+2.gca9a422da9
datashader==0.13.1a0
datashape==0.5.4
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.6
distributed==2022.9.2
entrypoints==0.4
executing==1.0.0
fastapi==0.109.1
fastavro==1.7.0
fastjsonschema==2.16.1
fastrlock==0.8
filelock==3.9.0
Fiona==1.8.22
flit_core==3.8.0
folium==0.13.0
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2022.11.0
GDAL==3.5.3
geopandas==0.12.1
google-api-core==2.15.0
google-auth==2.16.0
google-auth-oauthlib==0.4.6
googleapis-common-protos==1.62.0
gpustat==1.1.1
grpcio==1.51.1
h11==0.14.0
HeapDict==1.0.1
holoviews==1.14.6
httptools==0.6.1
idna==3.4
imagecodecs==2023.9.18
imageio==2.22.4
importlib-metadata==4.12.0
importlib-resources==5.10.0
ipykernel==6.15.2
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==8.0.1
jedi==0.18.1
Jinja2==3.1.3
joblib==1.2.0
jsonschema==4.14.0
jupyter==1.0.0
jupyter_client==7.3.5
jupyter-console==6.4.4
jupyter-core==4.11.1
jupyter-server==1.23.3
jupyter-server-proxy==3.2.2
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.2
kiwisolver==1.4.4
llvmlite==0.39.1
locket==1.0.0
lxml==4.9.1
lz4==4.0.2
mapclassify==2.4.3
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
mistune==2.0.4
mlxtend==0.21.0
msgpack==1.0.4
multidict==6.0.2
multipledispatch==0.6.0
munch==2.5.0
munkres==1.1.4
nbclient==0.6.7
nbconvert==7.0.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==2.6.3
notebook==6.4.12
numba==0.56.4
numpy==1.23.5
nvidia-ml-py==11.495.46
nvitop==0.8.1
nvtx==0.2.3
oauthlib==3.2.2
opencensus==0.11.4
opencensus-context==0.1.3
packaging==21.3
pandas==1.5.2
pandocfilters==1.5.0
panel==0.12.7
param==1.12.2
parso==0.8.3
partd==1.3.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
pip==22.3.1
pkgutil_resolve_name==1.3.10
platformdirs==2.5.2
ply==3.11
prometheus-client==0.14.1
prompt-toolkit==3.0.30
protobuf==3.19.6
psutil==5.9.1
ptxcompiler==0.7.0
ptyprocess==0.7.0
pure-eval==0.2.2
py-spy==0.3.14
pyaml==21.10.1
pyarrow==14.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyct==0.4.6
pydantic==2.5.3
pydantic_core==2.14.6
pydeck==0.5.0
pyee==8.1.0
Pygments==2.13.0
pylibcugraph==22.10.1+0.g9cf07eb6.dirty
pylibraft==22.10.1
pynvml==11.4.1
pyOpenSSL==22.1.0
pyparsing==3.0.9
pyppeteer==1.0.2
pyproj==3.4.0
PyQt5==5.15.7
PyQt5-sip==12.11.0
pyrsistent==0.19.2
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2022.6
pyviz-comms==2.2.1
PyWavelets==1.3.0
PyYAML==6.0
pyzmq==23.2.1
qtconsole==5.3.2
QtPy==2.2.0
raft-dask==22.10.1
ray==2.9.1
requests==2.28.1
requests-oauthlib==1.3.1
rmm==21.12.0
rsa==4.9
Rtree==1.0.1
scikit-image==0.19.3
scikit-learn==1.2.0
scikit-optimize==0.9.0
scipy==1.9.3
Send2Trash==1.8.0
setuptools==60.10.0
Shapely==1.8.5.post1
simpervisor==0.4
sip==6.7.5
six==1.16.0
smart-open==6.4.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
stack-data==0.5.0
starlette==0.36.2
streamz==0.6.4
tabulate==0.9.0
tblib==1.7.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5.1
termcolor==2.0.1
terminado==0.15.0
threadpoolctl==3.1.0
tifffile==2022.10.10
tinycss2==1.1.1
toml==0.10.2
toolz==0.12.0
torch==1.12.1
torch-tb-profiler==0.4.1
tornado==6.3.3
tqdm==4.64.1
traitlets==5.3.0
treelite==3.0.0
treelite-runtime==3.0.0
typing_extensions==4.9.0
ucx-py==0.28.0
unicodedata2==15.0.0
urllib3==1.26.11
uvicorn==0.27.0
uvloop==0.19.0
virtualenv==20.17.1
watchfiles==0.21.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.2
websockets==10.4
Werkzeug==2.3.8
wheel==0.38.4
widgetsnbextension==4.0.2
xarray==2022.11.0
xgboost==1.6.2
xyzservices==2022.9.0
yarl==1.8.1
zict==2.2.0
zipp==3.8.1
anyio==4.3.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==23.2.0
Babel==2.14.0
beautifulsoup4==4.12.3
biopython==1.81
bleach==6.1.0
Brotli==1.1.0
cached-property==1.5.2
cachetools==5.3.2
certifi==2023.7.22
cffi==1.16.0
cftime==1.6.3
charset-normalizer==3.3.2
colorama==0.4.6
comm==0.1.4
contourpy==1.2.0
cycler==0.12.1
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
et-xmlfile==1.1.0
exceptiongroup==1.2.0
executing==2.0.1
fasteners==0.17.3
fastjsonschema==2.19.1
fonttools==4.43.0
fqdn==1.5.1
freesasa==2.2.1
freud-analysis==2.13.1
GridDataFormats==1.0.2
GromacsWrapper==0.8.5
gsd==3.2.0
h11==0.14.0
h5py==3.10.0
httpcore==1.0.4
httpx==0.27.0
idna==3.4
importlib-metadata==6.8.0
ipykernel==6.26.0
ipython==8.17.2
isoduration==20.11.0
jedi==0.19.1
Jinja2==3.1.3
joblib==1.3.2
json5==0.9.22
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_client==8.6.0
jupyter_core==5.5.0
jupyter-events==0.9.0
jupyter-lsp==2.2.4
jupyter_server==2.11.2
jupyter_server_terminals==0.5.2
jupyterlab==4.1.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.3
kiwisolver==1.4.5
lipyphilic==0.10.0
littleutils==0.2.2
MarkupSafe==2.1.5
matplotlib==3.8.2
matplotlib-inline==0.1.6
mda-xdrlib==0.2.0
MDAnalysis==2.6.1
mdtraj==1.9.9
mistune==3.0.2
mmtf-python==1.1.3
more-itertools==10.2.0
mpmath==1.3.0
mrcfile==1.4.3
msgpack==1.0.6
munkres==1.1.4
nbclient==0.9.0
nbconvert==7.16.2
nbformat==5.9.2
nest-asyncio==1.5.8
netCDF4==1.6.5
networkx==3.2.1
notebook==7.1.1
notebook_shim==0.2.4
numexpr==2.8.7
numkit==1.2.3
numpy==1.26.0
nvidia-ml-py==12.535.133
nvitop==1.3.1
OpenMM==8.0.0
openpyxl==3.1.2
outdated==0.0.0
overrides==7.7.0
packaging==23.2
pandas==2.1.3
pandas-flavor==0.6.0
pandocfilters==1.5.1
parso==0.8.3
patsy==0.5.3
pbr==6.0.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.2.0
pingouin==0.5.3
pip==23.3
platformdirs==4.0.0
prometheus_client==0.20.0
prompt-toolkit==3.0.41
propka==3.5.0
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pycparser==2.21
pyedr==0.7.2
Pygments==2.17.1
pymbar==4.0.2
pyparsing==3.1.1
PySocks==1.7.1
python-dateutil==2.8.2
python-json-logger==2.0.7
pytng==0.0.0
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==25.1.1
referencing==0.33.0
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rowan==1.3.0.post1
rpds-py==0.18.0
scikit-learn==1.3.2
scipy==1.11.3
seaborn==0.13.0
Send2Trash==1.8.2
setuptools==68.2.2
six==1.16.0
sniffio==1.3.1
soupsieve==2.5
stack-data==0.6.2
statsmodels==0.14.0
tables==3.9.1
tabulate==0.9.0
termcolor==2.3.0
terminado==0.18.0
threadpoolctl==3.2.0
tidynamics==1.1.2
tinycss2==1.2.1
tornado==6.3.3
tqdm==4.66.1
traitlets==5.13.0
types-python-dateutil==2.8.19.20240106
typing_extensions==4.8.0
tzdata==2023.3
uri-template==1.3.0
urllib3==1.26.18
wcwidth==0.2.11
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
wheel==0.41.3
xarray==2023.11.0
zipp==3.17.0
